[
  {
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group_name}",
        "awslogs-region": "${region}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "portMappings": [
      {
        "hostPort": ${port},
        "protocol": "tcp",
        "containerPort": ${port}
      },
      {
        "hostPort": 22,
        "protocol": "tcp",
        "containerPort": 22
      }
    ],
    "cpu": 512,
    "memoryReservation": 756,
    "environment": [
      {
        "name": "DB_HOST",
        "value": "${db_host}"
      },
      {
        "name": "DB_PASS",
        "value": "${db_password}"
      },
      {
        "name": "SSH_PUBLIC_KEY",
        "value": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCr+6RHbvURKrjJgTHFUS6pNnu0zI4QZ+i2jH4frEPX0JO/zwOghDMtwQmkoqcxEaXf3+7Fm4JAmz+pYOA4m7H8H+Jr4k1PquiQbrxNu2dX93Z44Aa13x+TslKYy1nnONNDAPxou0tLpBzXCpFwvJCf29JlTMbRosp/Bqazxeuo1gUdgRCYQ2IJwbbV3rhZc81zHb8LRAsq+MMQKayS/frft64t2A+cleMAthxvRukBRUx0J6n/RZPNqXKVrFPqk8ODppDJNibfk0Gc2TKe2A9KMZFLIfUPfbYZIrFGOduOSWMSQW4r6HLU3qJbnZrc9LcN8zS1OnUNhn5RZghDw3oD"
      }
    ],
    "image": "${image}",
    "name": "${container_name}"
  }
]