[
  {
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group_name}",
        "awslogs-region": "${region}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "portMappings": [
      {
        "hostPort": ${port},
        "protocol": "tcp",
        "containerPort": ${port}
      }
    ],
    "cpu": 512,
    "memoryReservation": 756,
    "environment": [
      {
        "name": "DB_APP_URL",
        "value": "${app_db_svc_url}"
      },
      {
        "name": "S3_ACCESS_BY_PROFILE",
        "value": "true"
      }
    ],
     "image": "${image}",
     "name": "${container_name}"
  }
]